<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class='card'>
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item">
          <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Twitter',"https://twitter.com/bomberstech" , class: "nav-link #{yield(:blog_active)}"%>
        </li>

        <li class="list-group-item">
          <%= link_to 'facebook',"https://www.facebook.com/BombersTech-253105425160044" , class: "nav-link #{yield(:blog_active)}"%>
        </li> -->

        <li class="nav-item">
          <%= link_to 'Tecnologia', posts_path(tag:'Tecnologia'), class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Cultura', posts_path(tag:'Cultura'), class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Mundo', posts_path(tag:'Mundo'), class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Ciencia', posts_path(tag:'Ciencia'), class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Video', posts_path(tag:'Video'), class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <!-- <li class="list-group-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li> -->
        <% if autor_signed_in? %>
        <li class="list-group-item">
          <%= link_to 'My posts', autors_posts_path, class: "nav-link #{yield(:author)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Logout', destroy_autor_session_path, method: :delete, class: "nav-link " %>
        <%end%>
      </ul>
    </div>
  </div>
</div>


  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <div class='container'>
    <a class='navbar-brand' href='/'>
      Bombers<span class='light'>Tech</span>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <!-- <li class="nav-item">
        <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
      </li> -->
      <i class="fa fa-facebook" aria-hidden="true"></i>

      <!-- <li class="nav-item">
        <%= link_to 'Twitter',"https://twitter.com/bomberstech" , class: "nav-link #{yield(:blog_active)}"%>
      </li>

      <li class="nav-item">
        <%= link_to 'Facebook',"https://www.facebook.com/BombersTech-253105425160044" , class: "nav-link #{yield(:blog_active)}"%>
      </li> -->
      <li class="nav-item">
        <%= link_to 'Tecnologia', posts_path(tag:'Tecnologia'), class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Cultura', posts_path(tag:'Cultura'), class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Mundo', posts_path(tag:'Mundo'), class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Ciencia', posts_path(tag:'Ciencia'), class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Video', posts_path(tag:'Video'), class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <!-- <a class="navbar-brand" href="<%=posts_path(tag:'XOXO')%>">XOXO</a> -->
      <!-- <li class="nav-item">
        <%= link_to '', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li> -->
      <!-- <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li> -->
      <% if autor_signed_in? %>

      <li class="nav-item dropdown autor-nav">
              <a class="nav-link dropdown-toggle <%yield(:author)%>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag(current_autor.gravatar_image_url) %>
                <%= current_autor.display_name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'My posts', autors_posts_path, class: "dropdown-item " %>
                <%= link_to 'Account', autors_account_path, class: "dropdown-item " %>
                <%= link_to 'Logout', destroy_autor_session_path, method: :delete, class: "dropdown-item  " %>

              </div>
            </li>

      <%end%>
    </ul>
  </div>
</nav>
